*{
    box-sizing: border-box;
}

body {
    background-color: #aabbcc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 25px;
    text-align: center;
}

p {
    font-size: medium;
    text-align: start; 
}

.footer-div{
    background-color: wheat;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

section {
    display: flex;
    border: .3rem solid red;
    height: 16rem;
    align-items: center;
    justify-content: space-evenly;
}

article {
    background-color: aqua;
}

article:first-child {
    align-self: flex-end;
}

article:nth-child(2){
   background-color: bisque;
}

article:last-child{
    align-self: flex-start;
}